@media screen and (orientation:landscape){
        #NavbarLogo{
        img{
            height:10vh;
            }
        }
    }

@media screen and (orientation:portrait){
        #NavbarLogo{
        img{
            height:10vh;
            }
        }
    }
