@import "./Ecomm/EcomFirstView.scss";
@import "./Ecomm/EcommFilters.scss";
@import "./Ecomm/EcommProducts.scss";

#Ecomm{
    position:relative;
    display:flex;
    flex-direction:column;
    top:0;
    left:0;
    background-color:rgb(230,230,230);
    backdrop-filter: blur(5px);
    z-index:5;
}


