@import "./Navbar/Logo.scss";
@import "./Navbar/SearchButton.scss";
@import "./Navbar/MenuButton.scss";
@import "./Navbar/Menu/NavbarMenu.scss";

nav{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
    height:10vh;
    background-image: linear-gradient(rgba(100, 100, 100, 0.7), rgba(100, 100, 100, 0));
    display: flex;
    justify-content: space-around;
    align-items: center;



    }