@import "../../constants.scss";
@import "./OtherOptions.scss";

#FirstView{
    height: 90vh;
    width: 100vw;
    padding-top:10vh;
    display:flex;
    justify-content:space-between;
    background-image: linear-gradient(#919191, #e6e6e6);
    &More{
        background-color:$redLetters;
        font-family:$mainFont;
        color:white;
        border:none;
    }

}

@media screen and (orientation:landscape){
    #FirstView{
        &Content{
            width:90vw;
            height:100vh;
            display:flex;
            flex-direction:column;
            align-items:center;
            h2{
                width:100%;
                text-align:center;
                font-size:5vw;
                margin-top:0;
                font-family:$mainFont;
                font-weight:400;
                font-style:italic;
                color:$redLetters;
            }
            img{
                margin-top:-20vh;
                width:50vw;
                z-index:3;
                }
            button{
                margin-top:-15vh;
                z-index:3;
                font-size:2vh;
                }
            }
        &Right{
            z-index:2;
            width:35vw;
            position:absolute;
            height:80vh;
            right:0;
            margin-top:-10vh;
            display:flex;
            flex-direction:column;
            justify-content:flex-start;
            padding-top:20vh;
            align-items:center;
            background-image:linear-gradient($redLetters, #251010);
            img{
                width:10vw
                }
            p{
                width:80%;
                font-family:$mainFont;
                color:white;
                font-size:1.5vw;
                font-weight:300;
            }
        }
    }
}
@media screen and (orientation:portrait){
    #FirstView{
        &Content{
            display:flex;
            flex-direction:column;
            align-items:center;
            width:100vw;
            h2{
                font-size:8vw;
                color:black;
                width:90vw;
                text-align:center;
                font-family:$mainFont;
                font-weight:400;
                font-style:italic;
                }
            img{
                width:150vw;
                margin-right:50vw;
                margin-top:-15vh;
            }
        }
        &Right{
            display:none;
            }
    }

}