@import "./sass/Navbar.scss";
@import "./sass/Index.scss";
@import "./sass/Footer.scss";
@import "./sass/Ecom.scss";

body{
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    margin:0;
    padding:0;
    }
#root{
    width:100vw;
    height:100vh;
}
